body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}